* {
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}

body {
  font-family: "calibri";
  margin: 0;
  padding: 0;
}


$colors:(color1:white, color2:grey,color3:lightgrey, color4:black,color5:#415A76);
/*5-grafit*/
