.container {
  margin-top: 30px;
  margin-bottom: 30px;

  .row {
    color: map-get($colors, color2);

    .leftSide {
      #section1 {
        width: 100%;
        // border: 1px solid red;
        margin-top: 13px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .address{

        a{
          text-decoration: none;
          h1{
            color: map-get($colors, color5);
          }
          h1:hover{
            color: map-get($colors, color2);

          }
        }
        .intro {
          margin-top: 10px;
          color: #415A76;
          border-bottom: 1px solid lightgrey;
        }

        .dane {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 5px;
          // border: 1px solid red;

          div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            margin-top: 5px;

            i {
              color: #415A76;
            }

            a,
            p {
              padding-left: 20px;
              font-size: 12px;
              margin: 0;
              color: grey;
              text-decoration: none;
            }
          }

        }
        }

      }
      //ending #section1
    }
    //ending .col

    .col-md-8 {
      .row {
        margin-top: 40px;
      }

      .company,
      .data {
        color: map-get($colors, color5);

        .col-sm-12 {
          display: flex;
          justify-content: flex-end;
        }
      }

      .text {
        padding: 4%;

        .description {
          span {
            margin-left: 2em;
          }
        }
      }

      .row {
        .signature {
          display: flex;
          justify-content: flex-end;
          color: map-get($colors, color5);
        }
      }
    }
  }
  //ending .row
}
//ending.container
